service vendor.light /vendor/bin/hw/android.hardware.lights-service.moto
    class hal
    user system
    group system
    shutdown critical

on boot
    chown system system /sys/class/leds/charging/breath
    chown system system /sys/class/leds/charging/brightness
    chown system system /sys/class/leds/charging/delay_off
    chown system system /sys/class/leds/charging/delay_on
